*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 15px;
}
body{
    background-image:url(img/library.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding:auto;
    padding-top: 10px;
    padding-bottom: 5px;
}
.content-regist{
    width: 40%;
    margin: auto;
    margin-top: 8%; 
    backdrop-filter: blur(2px);
}
table{
    margin:auto;
    padding: 16px;
}
.input[type=text], .input[type=password], .input[type=password2]{
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-size: 25px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 5px;
}
.input[type=text]{
    background-image: url(img/user.svg)
}
.input[type=password]{
    background-image: url(img/lock.svg)
}
.input[type=password2]{
    background-image: url(img/lock.svg)
}
button{
    padding: 8px 8px;
    background:#FF816D;
    color:#fff;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 15px;
    margin-right: 5px;
}
button:hover{
    background: #0ba966;
    color: #fff;
}
p{
    padding-top: 10px ;
    text-align: center;
    display: block;
}
a{
    color:#fff;
    font-size: 14px;
    text-decoration: none;
}   
a:hover{
    color: #0ba966;
}